$localPath: '';

@mixin font-face($fontname, $path){
	font-family: $fontname;
	src: url($path + 'font.eot');
	src: url($path + 'font.eot?#iefix') format('embedded-opentype'),
		 url($path + 'font.svg#' + $fontname) format('svg'),
		 url($path + 'font.woff') format('woff'),
		 url($path + 'font.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

$break-small: 768px;
$break-medium: 992px;

@mixin r($media){
	@if $media == tp {
		@media (min-width: $break-small) { @content; }
	}
	@else if $media == tl {
		@media (min-width: $break-medium) { @content; }
	}
	@else if $media == d {
		@media (min-width: 1024px) { @content; }
	}
}